<app-navbar></app-navbar>
<div class="container-fluid py-4" style="background-color: #f0ecec;">
  <div class="row">
    <div class="col-12 col-lg-9">
      <app-inventory-table></app-inventory-table>
    </div>
    <div class="col-12 col-lg-3 scrollable-container">
      <app-file-upload></app-file-upload>
    </div>
  </div>
  <button routerLink="/chat" class="btn btn-primary position-fixed bottom-0 end-0 m-3" style="background-color: #7749F8; border-radius: 50%; width: 60px; height: 60px;">
    <i class="bi bi-chat-dots" style="font-size: 25px;"></i>
  </button>  
</div> 