<div class="relative shadow-lg">
  <!-- Sidebar -->
  <div 
    [ngClass]="{ 'w-64': sidebarOpen, 'w-0': !sidebarOpen }" 
    class="fixed inset-y-0 right-0 bg-info bg-opacity-90 text-white transition-all duration-300 ease-in-out z-50 h-screen overflow-hidden">
    <div class="flex flex-col h-screen">
      <!-- Close Button -->
      <button 
        class="self-end p-4 text-2xl text-gray-400 hover:text-white focus:outline-none"
        (click)="toggleSidebar()">
        <i class="fas fa-times"></i>
      </button>
      <ul class="flex-1 mt-4 space-y-6">
        <li *ngIf="!isLoggedIn && currentRoute !== '/register'">
          <a 
            routerLink="/register" 
            class="block px-4 py-2 hover:bg-gray-700 rounded" (click)="closeSidebar()">Register</a>
        </li>
        <li *ngIf="!isLoggedIn && currentRoute !== '/login'">
          <a 
            routerLink="/login" 
            class="block px-4 py-2 hover:bg-gray-700 rounded" (click)="closeSidebar()">Login</a>
        </li>
        <li>
          <a 
            routerLink="/profile" 
            class="block px-4 py-2 hover:bg-gray-700 rounded" (click)="closeSidebar()">Profile</a>
        </li>
        <li>
          <a 
            routerLink="/dashboard" 
            class="block px-4 py-2 hover:bg-gray-700 rounded" (click)="closeSidebar()">Dashboard</a>
        </li>
      </ul>
      <button 
        class="p-4 text-red-500 border-t border-gray-700 hover:bg-gray-700"
        (click)="logout()">Logout</button>
    </div>
  </div>

  <!-- Main Content -->
  <div>
    <nav class="bg-info p-3 flex justify-between items-center">
      <span class="text-white text-lg font-semibold tracking-wide">Akrivia HCM</span>
      <button 
        (click)="toggleSidebar()" 
        class="text-white text-2xl focus:outline-none">
        <i class="fas fa-bars"></i>
      </button>
    </nav>
    <div class="">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
